{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block title %}Все новости{% endblock %}

{% block content %}
    <h1>Новостной портал</h1>
    
    {% for item in news %}
        <div class="news-item">
            <h2>
                <a href="{% url 'news_detail' item.id %}">
                    {{ item.title|censor }}
                </a>
            </h2>
            <p class="date">{{ item.created_at|date:"d.m.Y" }}</p>
            <p>{{ item.text|censor|truncatechars:20 }}</p>
        </div>
    {% empty %}
        <p>Новостей пока нет</p>
    {% endfor %}
{% endblock %}