<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h2>Добро пожаловать на News Portal, {{ user.username }}!</h2>

    <p>Спасибо за регистрацию на нашем портале!</p>

    <p>Теперь вы можете:</p>
    <ul>
        <li>Читать новости и статьи</li>
        <li>Подписываться на категории</li>
        <li>Получать еженедельные рассылки</li>
    </ul>

    <p>
        <a href="http://127.0.0.1:8000{% url 'news_list' %}">
            Перейти на сайт
        </a>
    </p>
</body>
</html>